<title>Static Website | <%= page %></title>  <!--this is the title we can name it what ever we want-->
<meta charset="utf-8">
<meta name="active-menu" content="<%= menuId %>">  <!--This is embedded javascript-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="./stylesheets/style.css"><!--this is telling where the style.css file is-->
